<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RepHp.Properties.Settings.Reporting_Hp_StorageFilesConnectionString"
            connectionString="Data Source=WAYNAV;Initial Catalog=Reporting-Hp-StorageFiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>